<div ng-controller="newsCntrl" class="fb_newsitem">
    <form name="editNewsForm" role="form" ng-init="getNewsItem();">
        <legend>{{performerName()}} - News story</legend>
        <div class="form-group has-success has-feedback" style="text-align: center;" ng-if="news.fb_photo!=''" ng-click="editNewsPhoto();">
            <img id="fb_performer_photo" ng-src="{{news.fb_photo}}"></img>
        </div>
        <div class="form-group has-success has-feedback">
            <label>When?</label>
            <input type="date" class="form-control" placeholder="Event Date" name="fb_date" ng-model="news.fb_date" required />
        </div>
      
        <div class="form-group has-success has-feedback">
            <label>News event type</label>
            <select class="form-control" placeholder="What type of news event is this?" name="fb_type" ng-model="news.fb_type" ng-options="x for x in event_types"
                required>
            </select>
        </div>

        <div class="form-group has-success has-feedback">
            <label>Headline</label>
            <input type="text" class="form-control" placeholder="News headline" name="fb_headline" ng-model="news.fb_headline" required />
        </div>

        <div class="form-group has-success has-feedback">
            <label>Description</label>
            <textarea type="text" class="form-control fb_text" placeholder="Tell us more" name="fb_descr" ng-model="news.fb_descr" required></textarea>
        </div>

        <div class="form-group has-success has-feedback">
            <label>External Link</label>
            <input type="text" class="form-control" placeholder="External URL / Address" name="fb_link" ng-model="news.fb_link" />
        </div>
    </form>
    <br><br>
</div>