<div style="padding:10px;">
  <div ui-content-for="title">
    <span>{{fb_bannerTitle}}</span>
  </div>
  <legend>{{performerName()}} - Profile</legend>
  <div ng-init="initPerformer();">
    <div ng-repeat="x in navigation" class="col-centered text-center" style="padding:10px;">
      <table style="width:100%;">
        <tr>
          <td style="width:85%;">
            <div class="btn btn-default btn-block fb_btn_menu" ng-click="setPerfPartial($index);">
              <table style="width:100%;">
                <tr>
                  <td style="width:30%;">
                    <i class="fa {{x.glyph}} fa-lg fa-2x text-primary fb_profileGlyph"></i>
                  </td>
                  <td style="text-align:left;">
                    <span class="fb_profileLabel">{{x.title}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div ng-bind-html="x.html" class="text-left" style="width:15%; float:right; margin-right: 5px;"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>