<div ng-controller="securityCntrl" ng-init="get()">
  <form name="securityForm" role="form">
    <fieldset>
      <legend>{{profile_name()}} - Security</legend>
      <div class="form-group has-success has-feedback">
        <label>Primary Email</label>
        <input type="email"
               class="form-control"
               placeholder="Enter email"
               name="fb_email"
               ng-model="security.fb_email"
               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
               required
               focus/>
      </div>

      <div ng-hide="security.fb_email==null || original_email==security.fb_email || security.fb_email==''">
        <button class="btn fb_btn_primary fb_primaryLabel"
                ng-click="verify(security)"
                ng-show="verify_step=='initiate'"
                data-ng-disabled="security.fb_email==''">
        Verify e-mail...
        </button>
        <div ng-show="verify_step=='validate'">
          <div class="form-group has-success has-feedback">
            <span>Check your e-mail, enter the security code and click 'Validate code...'</span>
            <table>
              <tr>
                <td width='60%'>
                  <div class="form-group" style='margin-right:10px;'>
                    <input type="text" class="form-control" placeholder="Security code" ng-model="security.fb_validation_code" />
                  </div>
                </td>
                <td>
                  <div class="btn fb_btn_primary">
                    <a ng-click="validate(security)" class="fb_primaryLabel" data-ng-disabled="security.fb_validation_code==''">
                        Validate code...
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <br />

      <div ng-show="email_status=='verified'">
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="fb_pwd" ng-pattern="passwordStrength" ng-model="security.fb_pwd"
            required/>
        </div>
        <div class="bg-info text-danger" ng-show="security.fb_pwd!='' && security.fb_pwd!=original_pwd && (securityForm.fb_pwd.$error.pattern||securityForm.fb_pwd.$error.required)">
          Password should be at least 8 characters long and should contain one number,one character and one special character
        </div>
        <div class="bg-info text-danger" ng-show="security.fb_pwd!='' && security.fb_pwd!=security.fb_pwd2 && security.fb_pwd2!=''">
          Passwords must match
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Password again" ng-model="security.fb_pwd2" password-match="security.fb_pwd"
            required/>
        </div>
      </div>

    </fieldset>
    <br />
    <br />
    <br />

  </form>
</div>