<div ng-controller="addrCntrl" ng-init="get()">
    <div ng-show="addressForm=='findAddress'">
        <form name="findAddressForm" role="form">
            <fieldset>
                <legend>Find Address</legend>
                <div class="form-group has-success has-feedback">
                    <label>House name/number</label>
                    <input type="text" class="form-control" placeholder="House number" name="fb_house_nr" ng-model="address.fb_house_nr" required
                        focus/>
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Postcode</label>
                    <input type="text" class="form-control" placeholder="Postcode" name="fb_postcode" ng-model="address.fb_postcode" required/>
                </div>

                <div class="form-group has-success has-feedback">
                    <button class="btn fb_btn_primary btn-block fb_primaryLabel" type="submit" ng-click="seek(address);" data-ng-disabled="findAddressForm.$invalid">
                    Find Address
                    </button>
                </div>
            </fieldset>


            <div class="form-group">
                <p>Can't find your address? Enter it yourself <a class="text-primary" href="javascript:void(0)" ng-click="switch()"> Here</a></p>
                <br />
                <div compile="streetList"></div>
            </div>

            <br />
            <br />

        </form>
    </div>
    <div ng-show="addressForm=='editAddress'">
        <form name="editAddressForm" role="form" ng-init="init();">
            <fieldset>
                <legend>{{profile_name()}} - Address</legend>
                <div class="form-group has-success has-feedback">
                    <label>House name/number</label>
                    <input type="text" class="form-control" placeholder="House number" name="fb_house_nr" ng-model="address.fb_house_nr" required
                        focus/>
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Street</label>
                    <input type="text" class="form-control" placeholder="Street" name="fb_street" ng-model="address.fb_street" required/>
                </div>

                <div class="form-group has-success has-feedback">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="City" name="fb_city" ng-model="address.fb_city" required/>
                </div>

                <div class="form-group has-success has-feedback">
                    <label>County</label>
                    <input type="text" class="form-control" placeholder="County" name="fb_county" ng-model="address.fb_county" />
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Postcode</label>
                    <input type="text" class="form-control" placeholder="Postcode" name="fb_postcode" ng-model="address.fb_postcode" required/>
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="County" name="fb_country" ng-model="address.fb_country" />
                </div>

            </fieldset>

            <br />

            <div class="form-group">
                <p>Not your address? Find it with your postcode <a class="text-primary" href="javascript:void(0)" ng-click="switch()"> Here</a></p>
            </div>

            <br />
            <br />
            <br />
            <br />

        </form>
    </div>
</div>