<div class="fb-scrollable fb_pad">
  <div class="scrollable-content section">
    <div ui-content-for="title" ng-init="setCurrentProcess('performer');">
      <span>{{fb_bannerTitle}}</span>
    </div>
    <br />
    <div ng-if="currentForm.indexOf('performer.html')>0" ng-class="{'slide-left': fb_transition==='slide-left', 'slide-right': fb_transition==='slide-right'}">
      <form name="listperformersForm" role="form">
        <div ng-init="get();" ng-controller="performerCntrl">
          <legend>{{profile_name()}} - Performer Profiles</legend>

          <div ng-repeat="performer in performerList" class="form-group">

            <div ng-click="load($index);" class="btn btn-default btn-block fb_btn_performer">
              <table class="fb_searchTbl">
                <tr>
                  <td>
                    <img ng-src="{{performer.fb_photo}}">
                  </td>
                  <td>
                    <span class="fb_searchLabel">Name</span><span><strong>{{performer.fb_name}}</strong></span>
                    <br>
                    <span class="fb_searchLabel">Type</span><span>{{performer.fb_type}}</span>
                    <br>
                    <span class="fb_searchLabel">Joined</span><span>{{performer.fb_joinDt}}</span>
                    <br>
                    <span class="fb_searchLabel">Tracks</span><span style="margin-right: 10px;">{{performer.fb_trackCount}}</span>
                    <span class="fb_searchLabel">Media Links</span><span>{{performer.fb_linkCount}}</span>
                  </td>
                  <td class="fb_wideScreen wrapword">
                    <span class="fb_searchLabel">About {{performer.fb_name}}</span><br>
                    <span>{{performer.fb_descr}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <br />
          <div ng-hide="addrow">
            <table class="sublistButtons">
              <tr>
                <td>
                  <a href="javascript:void(0)" ng-click="init();"><i class="fa fa-plus-circle fa-lg fa-2x text-success"></i></a>
                </td>
                <td ng-show="false">
                  <a href="javascript:void(0)" ng-click="remove();"><i class="fa fa-minus-circle fa-lg fa-2x text-danger"></i></a>
                </td>
              </tr>
            </table>

            <br />
            <br />

          </div>

      </form>

      <form name="editperformer" role="form" ng-show="addrow">
        <br>

        <div class="form-group has-success has-feedback" ng-hide="contact.fb_contact_type=='Email (other)'">
          <label>Act name</label>
          <input type="text" class="form-control" placeholder="Name of your act" name="fb_name" ng-model="performer.fb_name" focus
            required/>
        </div>

        <div class="form-group has-success has-feedback">
          <label>Act type</label>
          <select class="form-control" placeholder="Type of act" name="fb_type" ng-model="performer.fb_type" ng-options="x for x in types"
            required>
          </select>
        </div>

        <div class="form-group has-success has-feedback">
          <label>Act status</label>
          <select class="form-control" placeholder="Active / inactive" name="fb_type" ng-model="performer.fb_status" ng-options="x for x in stati"
            required>
          </select>
        </div>

        <table class="listButtons">
          <tr>
            <td>
              <div class="btn btn-default btn-block btn-sm" type="submit" ng-click="add();" data-ng-disabled="performer.fb_name=='' || performer.fb_type==''">
                <i class="fa fa-check fa-lg fa-2x text-success"></i>
              </div>
            </td>
            <td>
              <div class="btn btn-default btn-block btn-sm" ng-click="addrow=false;">
                <i class="fa fa-close fa-lg fa-2x text-danger"></i>
              </div>
            </td>
          </tr>
        </table>
        <br />
        <br />
        </div>
      </form>
    </div>
    <div ng-if="currentForm.indexOf('performer.html')<0" ng-include="currentForm" ng-class="{'slide-left': fb_transition==='slide-left', 'slide-right': fb_transition==='slide-right'}"></div>
  </div>
</div>