<div ng-controller="performerCntrl" ng-init="setupSearch();">
  <div id="btngrp" class="btn-group" style="width:100%" data-toggle="buttons" ng-init="fb_search.type='Name';">
    <button type="button" class="btn btn-lg btn-primary fb_bgColor" ng-click="setSearchType('Name');" ng-style="{width:btnWidth()+'px'}"
      ng-class="{active:fb_search.type=='Name'}">by Name</button>
    <button type="button" class="btn btn-lg btn-primary fb_bgColor" ng-click="setSearchType('County');" ng-style="{width:btnWidth()+'px'}"
      ng-class="{active:fb_search.type=='County'}">by County</button>
    <button type="button" class="btn btn-lg btn-primary fb_bgColor" ng-click="setSearchType('Town');" ng-style="{width:btnWidth()+'px'}"
      ng-class="{active:fb_search.type=='Town'}">by City</button>
  </div>
  <br />
  <br />
  <table class="fb_searchBar">
    <tr>
      <td>
        <div id="scrollable-dropdown-menu" ng-show="fb_search.type=='Name'">
          <input class="form-control" placeholder="Name of Performer / Act" type="text" ng-model="fb_search.searchstr" typeahead="performer.performer for performer in performers | filter:$viewValue | limitTo:8">
        </div>
        <div id="scrollable-dropdown-menu" ng-show="fb_search.type=='County'">
          <input class="form-control" placeholder="Enter a county name" type="text" ng-model="fb_search.searchstr" typeahead="county.county for county in countyList | filter:$viewValue | limitTo:8">
        </div>
        <div id="scrollable-dropdown-menu" ng-show="fb_search.type=='Town'">
          <input class="form-control" placeholder="Enter a town or city name" type="text" ng-model="fb_search.searchstr" typeahead="town.town for town in townList | filter:$viewValue | limitTo:8">
        </div>
      </td>
      <td>
        <a id="btnsearch" class="fb_linkGlyph" ng-click="find();">
          <i class="fa fa-search fa-lg fa-2x"></i>
        </a>
      </td>
    </tr>
  </table>
  <br>

  <div ng-repeat="performer in performerList" class="btn btn-default btn-block fb_btn_performer" ng-click="show($index);">
    <table class="fb_searchTbl">
      <tr>
        <td>
          <img ng-src="{{performer.fb_photo}}">
        </td>
        <td>
          <span class="fb_searchLabel">Name</span><span><strong>{{performer.fb_name}}</strong></span>
          <br>
          <span class="fb_searchLabel">Type</span><span>{{performer.fb_type}}</span>
          <br>
          <span class="fb_searchLabel">Joined</span><span>{{performer.fb_joinDt}}</span>
          <br>
          <span class="fb_searchLabel">Tracks</span><span style="margin-right: 10px;">{{performer.fb_trackCount}}</span>
          <span class="fb_searchLabel">Media Links</span><span>{{performer.fb_linkCount}}</span>
        </td>
        <td class="fb_wideScreen wrapword">
          <span class="fb_searchLabel">About {{performer.fb_name}}</span><br>
          <span>{{performer.fb_descr}}</span>
        </td>
      </tr>
    </table>
  </div>

  <br />
  <br />
  <br />
</div>