<div ng-controller="weblinkCntrl" ng-init="get()">
  <div ng-show="getThumbNail" ng-include="'partials/photo.html'"></div>
  <div ng-hide="getThumbNail">
    <form name="webLinksForm" role="form">
      <legend>{{performerName()}} - Media Links</legend>
      <table class="table table-striped fb_listTbl">
        <tr ng-repeat="weblink in weblinkList" class="form-group">
          <td>
            <input type="checkbox" ng-model="weblink.fb_selected">
          </td>
          <td>
            <span>{{weblink.fb_type}}</span>
          </td>
          <td>
            <table>
              <tr>
                <td style="width:50px; padding:5px;">
                  <a href="javascript:void(0)" class="text-primary" ng-click="openLink(weblink.fb_link);"><img ng-src="{{weblink.fb_photo}}" ></img></a>
                </td>
                <td>{{weblink.fb_descr}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <div ng-hide="addrow">
        <table class="sublistButtons">
          <tr>
            <td>
              <a href="javascript:void(0)" ng-click="init();"><i class="fa fa-plus-circle fa-lg fa-2x text-success"></i></a>
            </td>
            <td ng-show="anySelected(weblinkList)==true">
              <a href="javascript:void(0)" ng-click="remove();"><i class="fa fa-minus-circle fa-lg fa-2x text-danger"></i></a>
            </td>
          </tr>
        </table>

        <hr>

        <br />
        <br />
        <br />

      </div>
    </form>

    <form name="editWeblinksForm" role="form" ng-show="addrow">
      <hr>
      <div class="form-group has-success has-feedback">
        <label>Web link type</label>
        <select class="form-control" placeholder="Link Type" name="fb_type" ng-model="weblink.fb_type" ng-options="x for x in weblink_types"
          required>
          </select>
      </div>

      <div class="form-group has-success has-feedback">
        <label>Short Description</label>
        <input type="text" class="form-control" placeholder="Description" name="fb_descr" ng-model="weblink.fb_descr" required/>
      </div>

      <div class="form-group has-success has-feedback">
        <label>Address / URL</label>
        <input type="text" class="form-control" placeholder="External URL / Address" name="fb_link" ng-model="weblink.fb_link" focus
          required data-ng-disabled="weblink.fb_type=='' || weblink.fb_descr==''" />
      </div>

      <div class="form-group has-success has-feedback">
        <label>Thumbnail</label>
        <div class="fb_thumbNail" ng-click="thumbNail();">
          <img ng-src="{{weblink.fb_photo}}"></img>
        </div>
      </div>

      <table class="listButtons">
        <tr>
          <td>
            <button class="btn btn-default btn-block btn-sm" type="submit" ng-click="add();" data-ng-disabled="weblink.fb_link==''">
          <i class="fa fa-check fa-lg fa-2x text-success"></i>
          </button>
          </td>
          <td>
            <button class="btn btn-default btn-block btn-sm" ng-click="addrow=false;">
          <i class="fa fa-close fa-lg fa-2x text-danger"></i>
          </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>